Repository trevordmiller/slides-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "linters": {
    "*.js": ["eslint --fix", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
  },
  "ignore": ["**/node_modules/**", "**/docs/**"]
}

Add pdf exporting to build
  docs/index.html
  docs/main.js
  docs/presentation.pdf
  package.json
Due: eslint --fix, prettier --write

Clarify pdf output
  contributing.md
  docs/presentation.pdf
Due: prettier --write

Remove docs/ from repo to copy
  docs/index.html
  docs/main.js
  docs/presentation.pdf
Due: eslint --fix, prettier --write

Disable required proptypes
  .eslintrc.json
Due: prettier --write

Add suggestions to contributing docs
  contributing.md
Due: prettier --write

Make example code more generic
  src/components/SomeDemoComponent/index.js
Due: eslint --fix, prettier --write

Rename demo component
  src/components/SomeComponent/index.js
  src/index.mdx
Due: eslint --fix, prettier --write

Add overview mode
  contributing.md
Due: prettier --write

Add browser title
  src/index.mdx
Due: none

Add more example markdown
  src/index.mdx
Due: none

Simplify example mdx
  src/index.mdx
Due: none

Add code surfer
  package-lock.json
  package.json
  src/index.mdx
Due: prettier --write

Add initial styles
  contributing.md
  package-lock.json
  package.json
  src/components/SomeComponent/index.js
  src/index.mdx
  src/utils/theme/index.js
Due: eslint --fix, prettier --write

Use notes component instead of markdown notes label
  package-lock.json
  package.json
  src/index.mdx
Due: prettier --write

Style inline code
  src/index.mdx
  src/utils/theme/index.js
Due: eslint --fix, prettier --write

Fix code surfer output to show source code instead of compiled
  contributing.md
  package-lock.json
  package.json
  src/index.mdx
Due: prettier --write

Clean up documentation
  contributing.md
Due: prettier --write

Add Nova prism theme for mdx-deck code
  src/utils/theme/index.js
  src/utils/theme/utils/prismTheme/index.js
Due: eslint --fix, prettier --write

Wrap 3rd party components
  package-lock.json
  package.json
  src/components/CodeStepper/index.js
  src/components/FullscreenImage/index.js
  src/components/SpeakerNotes/index.js
  src/index.mdx
Due: eslint --fix, prettier --write

Remove unused dependency
  package.json
Due: prettier --write

Add theme to code stepper
  package.json
  src/components/CodeStepper/index.js
Due: eslint --fix, prettier --write

Use left/right arrows for code stepper
  package-lock.json
  package.json
Due: prettier --write

Add nova theme for code stepper
  src/components/CodeStepper/index.js
  src/components/CodeStepper/utils/prismReactRendererTheme/index.js
  src/utils/theme/index.js
  src/utils/theme/utils/reactSyntaxHighlighterTheme/index.js
Due: eslint --fix, prettier --write

Clean up example code stepper steps
  src/index.mdx
Due: none

Update package-lock.json to match latest
  package-lock.json
Due: prettier --write

Polish code stepper styles
  package-lock.json
  package.json
  src/components/CodeStepper/index.js
Due: eslint --fix, prettier --write

Ignore built output from git by default
  .gitignore
  contributing.md
Due: prettier --write

Polish theme
  src/index.mdx
  src/theme/components/CustomProvider/index.js
  src/theme/index.js
  src/theme/utils/reactSyntaxHighlighterTheme/index.js
Due: eslint --fix, prettier --write

Polish terminalizer config
  src/static/some-recording.gif
  src/static/some-recording.yml
  src/theme/index.js
  terminalizerrc.yml
Due: eslint --fix, prettier --write

Revert "Polish terminalizer config"
  src/static/some-recording.gif
  src/static/some-recording.yml
  src/theme/index.js
  terminalizerrc.yml
Due: eslint --fix, prettier --write

Update to latest mdx-deck bugfixes
  package-lock.json
  package.json
Due: prettier --write

Clarify presenting tips
  contributing.md
Due: prettier --write

Use .md for mdx files until .mdx has better support
  contributing.md
  package.json
  src/index.md
Due: prettier --write

Fix built html output with code stepper
  package.json
Due: prettier --write
